.pay {
    width: 1920px; 
    height: 1108px; 
    background-color: rgba(30, 193, 245, 1);
    top: 0px; 
    left: 0px; 
    position: relative; 
}

.payment-title {
    width: 377px; 
    height: 67px; 
    font-family: PT Sans; 
    font-size: 48px; 
    font-weight: bold; 
    line-height: 56.25px; 
    text-align: CENTER; 
    color: rgba(255, 255, 255, 1);
    top: 2507px; 
    left: 765px; 
    top: 220px; 
    left: 765px; 
    position: absolute;
}

.payment-text {
    width: 1262px; 
    height: 178px;
    font-family: PT Sans; 
    font-size: 36px; 
    font-weight: bold; 
    line-height: 42.1875px; 
    text-align: CENTER; 
    color: rgba(255, 255, 255, 1);
    top: 2615px; 
    left: 323px; 
    top: 328px; 
    left: 323px; 
    position: absolute;
}

.credit-card {
    width: 123px; 
    height: 77px;  
    background-size: cover;
    top: 2907px; 
    left: 350px; 
    top: 625px; 
    left: 333px; 
    position: absolute;
}

.yandex {
    width: 349px; 
    height: 89px; 
    background-size: cover;
    top: 2901px; 
    left: 500px; 
    top: 640px; 
    left: 550px; 
    position: absolute;
}

.paypal {
    width: 246px;
    height: 60px; 
    background-size: cover;
    top: 2916px; 
    left: 900px; 
    top: 640px; 
    left: 890px; 
    position: absolute;
}

.webmoney {
    width: 311px; 
    height: 75px; 
    background-size: cover;
    top: 2908px; 
    left: 1106px; 
    top: 640px; 
    left: 1190px; 
    position: absolute;
}

.cash {
    width: 118px; 
    height: 99px; 
    top: 2896px; 
    left: 1550px; 
    top: 625px; 
    left: 1510px; 
    position: absolute;
}

.credit-card-text {
    width: 190px; 
    height: 43px;
    font-family: PT Sans; 
    font-size: 36px; 
    font-weight: bold; 
    line-height: 42.1875px; 
    text-align: CENTER; 
    color: rgba(255, 255, 255, 1);
    top: 3040px; 
    left: 274px; 
    top: 753px; 
    left: 274px; 
    position: absolute;
}

.yandex-text {
    width: 265px; 
    height: 43px;
    font-family: PT Sans; 
    font-size: 36px; 
    font-weight: bold; 
    line-height: 42.1875px; 
    text-align: CENTER; 
    color: rgba(255, 255, 255, 1);
    top: 3040px;
    left: 495px; 
    top: 753px; 
    left: 495px; 
    position: absolute;
}

.paypal-text {
    width: 265px; 
    height: 43px;
    font-family: PT Sans; 
    font-size: 36px; 
    font-weight: bold; 
    line-height: 42.1875px; 
    text-align: CENTER; 
    color: rgba(255, 255, 255, 1);
    top: 3040px; 
    left: 821px; 
    top: 753px; 
    left: 821px; 
    position: absolute;
}

.webmoney-text {
    width: 212px; 
    height: 43px;
    font-family: PT Sans; 
    font-size: 36px;
    font-weight: bold;  
    line-height: 42.1875px; 
    text-align: CENTER; 
    color: rgba(255, 255, 255, 1);
    top: 3040px; 
    left: 1156px; 
    top: 753px; 
    left: 1156px; 
    position: absolute;
}

.cash-text {
    width: 212px; 
    height: 43px; 
    font-family: PT Sans; 
    font-size: 36px; 
    font-weight: bold; 
    line-height: 42.1875px; 
    text-align: CENTER; 
    color: rgba(255, 255, 255, 1);
    top: 3040px; 
    left: 1434px; 
    top: 753px; 
    left: 1434px; 
    position: absolute;
}